body {
  font-family: Arial, sans-serif;
  text-align: center;
  font-weight: bold;
  background-image: url('images\\blackjackbackground.png');
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  margin-top: 50px;
}

.card {
  width: 100px; /* Set the width of the card images */
}

#player-hand,
#dealer-hand {
  display: inline-block;
  margin: 20px;
}

#player-cards img,
#dealer-cards img {
  width: 100px; /* Set the width of the card images */
}

#result {
  margin-top: 20px;
  font-weight: bold;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
}

.game-link {
  display: block;
  margin: 20px auto;
  width: 200px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 10px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.game-link:hover
{
  background-color: #ddd;
}
@media only screen and (min-width: 768px) {
  .game-container {
    display: inline-block;
    margin: 20px;
    vertical-align: top;
  }
}